<% layout('layouts/boilerplate.ejs') %>

<h1><%= restaurant.title %></h1>
<h2><%= restaurant.location %></h2>
<small class="text-secondary"><%= restaurant.priceRange %></small>
<img src="<%= restaurant.image %>" alt="">
<p><%= restaurant.description %></p>
<div>
    <a href="/restaurants/<%= restaurant._id %>/edit"><button>Edit</button></a>
    <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST"><button>Delete</button></form>
</div>
<footer>
    <a href="/restaurants"><button>All Restaurants</button></a>
</footer>