<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= restaurant.image %>" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">
                    <%= restaurant.title %>
                    <span class="float-end text-secondary me-2 "><%= restaurant.priceRange %></span>
                </h5>
                <p class="card-text"><%= restaurant.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                    <%= restaurant.location %>
                </li>
                <li class="list-group-item">
                    Submitted by <%= restaurant.author.username %>
                </li>
            </ul>
            <% if(currentUser && restaurant.author.equals(currentUser._id)) {%>
            <div class="card-body">
                <a href="/restaurants/<%= restaurant._id %>/edit" class="btn btn-success mr-3 card-link">Edit</a>
                <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST"
                    class="d-inline card-link">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-secondary">
                posted 2 days ago
            </div>
        </div>
    </div>
    <div class="col-6">
        <% if(currentUser) {%>
        <h2>Leave a Review</h2>
        <form action="/restaurants/<%= restaurant._id %>/reviews" class="mb-3 validation-form" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Add a Review!</div>
            </div>
            <button class="mb-3 btn btn-success">Submit Review</button>
        </form>
        <% } %>
        <% for( let review of restaurant.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Rating: <%= review.rating %></h5>
                <h6 class="card-subtitle text-secondary">By <%= review.author.username %></h6>
                <p class="card-text">Review: <%= review.body %></p>
                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                <form action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>

<footer>
    <a href="/restaurants" class="btn"><button>All Restaurants</button></a>
</footer>